.register-container{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .register-body{
    width: 500px;
    height: 650px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;

    .register-title{
      width: 100%;
      color: #183B56;
      font-size: 36px;
      text-align: center;
      font-weight: 700;
    }

    .register-group-field{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 20px;

        .register-label{
          width: 100%;
          color: #5A7184;
          font-size: 16px;
          font-weight: 600;
        }

        .register-field{
          width: 100%;
          height: 56px;
          border-radius: 8px;
          padding: 0 20px;
          border: 1px solid #ababac;
          box-shadow: 0px 15px 25px 0px #0000000F;

          &:focus{
            outline: 1px solid #1565D8;
          }
        }
      }

      .register-forgot{
        font-size: 14px;
        color: #1565D8;
        font-weight: 600;
        margin-top: 20px;

        &:hover{
            text-decoration: underline;
            color: #0d4086;
          }
      }

      .register-button{
        width: 100%;
        height: 56px;
        background: #1565D8;
        border-radius: 8px;
        cursor: pointer;
        color: #FFFFFF;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 700;

        &:hover{
          background: #0d4086;
        }
      }

      .register-signin{
        font-size: 14px;
        margin-top: 20px;
        font-weight: 700;
        color: #5A7184;
        text-align: center;

        .register-signin-link{
          color: #1565D8;
          cursor: pointer;

          &:hover{
            text-decoration: underline;
            color: #0d4086;
          }
        }
      }
  }
}